<div class="jumbotron center">
	<h1>Pinterest Clone</h1>
	<p>This is a pinterest clone</p>

	<%= link_to "Login", root_path, class: 'btn btn-default' %>
	<%= link_to "Join", root_path, class: 'btn btn-primary' %>

</div>