<div class="jumbotron center">
	<h1>Pinterest Clone</h1>
	<p>This is a pinterest clone</p>

	<%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
	<%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>

</div>